<%- include('../layouts/profile.ejs') %>
<div class="col-lg-9 my-lg-0 my-1">
      <% if(address){ %>
      <div class="card mb-4 bg-light">
        <div class="card mb-3 bg-light">
          <div class="card-header py-3">
            <h5 class="mb-0">Saved Address</h5>
          </div>
          <div class="card-body bg-light">
            <div class="row mb-4">
              <% for(let key of address){%>
                <div class="col" style="border: 1px solid orange;border-radius: 8px;">
                  <div class="form-outline">
                    <%= key.firstname %>
                    <%=key.lastname%><br>
                    <%= key.address %> <br>
                    <%= key.city %> , <%= key.state %><br>
                    <%= key.country %><br>
                    Pin: <%= key.zip %><br>
                    Phone: <%= key.mobile %><br>
                  </div>
                  <a href="/editAddress?id=<%-key._id%>" style="height: 30px;" class="btn btn-primary  btn-xxs rounded">EDIT</a>
                  <a href="/deleteAddress?id=<%-key._id%>" style="height: 30px;" class="btn btn-danger  btn-xxs rounded">DELETE</a>
                </div>
                <%}%>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <div class="card mb-3 bg-light">
          <div class="card-header py-3">
            <h5 class="mb-0">Add new Address</h5>
          </div>
          <div class="card-body">
            <form method="post" action="/address">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form7Example1" class="form-control" name="firstname" />
                    <label class="form-label" for="form7Example1">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form7Example2" class="form-control" name="lastname" />
                    <label class="form-label" for="form7Example2">Last name</label>
                  </div>
                </div>
              </div>

              <!-- Text input -->
              <div class="form-outline mb-4">
                <input type="text" id="form7Example3" class="form-control" name="address" />
                <label class="form-label" for="form7Example3">Address</label>
              </div>

              <!-- Text input -->
              <div class="form-outline mb-4">
                <input type="text" id="form7Example4" class="form-control" name="city" />
                <label class="form-label" for="form7Example3">city</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="form7Example5" class="form-control" name="state" />
                <label class="form-label" for="form7Example5">state</label>
              </div>

              <!-- Number input -->
              <div class="form-outline mb-4">
                <input type="text" id="form7Example6" class="form-control" name="country" />
                <label class="form-label" for="form7Example6">country</label>
              </div>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <input type="number" id="form7Example6" class="form-control" name="pin" />
                <label class="form-label" for="form7Example6">postal code</label>
              </div>
              <div class="form-outline mb-4">
                <input type="number" id="form7Example6" class="form-control" name="mno" />
                <label class="form-label" for="form7Example6">contact no:</label>
              </div>
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-2">
                <input type="submit" class="btn btn-outline-primary btn-sm" />
                <label class="form-check-label" for="form7Example8">
                  save this Address?
                </label>
              </div>
            </form>
          </div>
        </div>
  </div>

  </div>
  </div>
  </div>
  <%- include ('../layouts/footer.ejs') %>