<%- include ('../layouts/header.ejs') %>
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="images/favicon.png" rel="shortcut icon">
    <title>Ludus - Electronics, Apparel, Computers, Books, DVDs & more</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="css/vendor.css">

    <link rel="stylesheet" href="css/utility.css">

    <link rel="stylesheet" href="css/app.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app" class="bg-white">
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-t-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Breadcrumb ======-->
                            <div class="pd-breadcrumb u-s-m-b-30">
                                <ul class="pd-breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="has-separator">

                                        <a href="/products">Products</a></li>
                                    <li class="has-separator">

                                        <a href="/products"><%-product.category%></a></li>
                                    <li class="is-marked">

                                        <a href="/productDetail?id=<%-product._id%>"><%-product.name%></a></li>
                                </ul>
                            </div>
                            <!--====== End - Product Breadcrumb ======-->


                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
                                      <% for(i=0;i<product.image.length;i++){%>
                                        <div class="pd-o-img-wrap" data-src="/uploads/<%-product.image[i]%>">
                                        <img class="u-img-fluid" src="/uploads/<%-product.image[i]%>" data-zoom-image="/uploads/<%-product.image[i]%>" alt=""></div>
                                        <%}%>
                                    </div>

                                    <span class="pd-text">scroll over to zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                          <% for(i=0;i<product.image.length;i++){%>
                                            <div><img class="u-img-fluid" src="/uploads/<%-product.image[i]%>" alt=""></div>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                                    
                            </div>
                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>

                                    <span class="pd-detail__name"><%-product.name%></span></div>
                                <div>
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__price">₹<%-product.price%>.00</span>

                                        <span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$28.97</del></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style">

                                       
                                        <% for(let j=0;j < 5;j++){
                                            if(product.star>j){%>
                                        <i class="fas fa-star"></i>
                                        <%}else{%>
                                            <i class="far fa-star"></i>
                                        <%}}%>
                                        <!-- <i class="fas fa-star-half-alt"></i> -->
                                        <span class="pd-detail__review u-s-m-l-4">

                                            <a data-click-scroll="#view-review"><%-product.Rating.length%></a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__stock"><%-product.stock%> in stock</span>

                                        <!-- <span class="pd-detail__left">Only 2 left</span></div> -->
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc"><%-product.description%></span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="/addToWishList?id=<%=product._id%>">Add to Wishlist</a>

                                            <span class="pd-detail__click-count">(22)</span></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>
                                            <span class="pd-detail__click-count">(20)</span></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>

                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>

                                            <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                                <div class="u-s-m-b-15">
                                    <form class="pd-detail__form" action="/addToCart?id=<%-product._id%>">
                                        <div class="pd-detail-inline-2">
                                            
                                            <div class="u-s-m-b-15">

                                                <a class="btn btn--e-brand-b-2" data-modal="modal" data-modal-id="#add-to-cart" href="/addToCart?id=<%=product._id%>" id="/makd">Add to Cart</a></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Buyer Protection.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

           
            <!--====== End - Product Detail Tab ======-->
            
            <div class="u-s-p-b-90">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                              <% for(i=0;i<products.length;i++){%>  
                              <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="/productDetail?id=<%-products[i]._id%>">

                                                <img class="aspect__img" src="/uploads/<%-products[i].image[0]%>" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a href="/productDetail?id=<%-products[i]._id%>" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a href="/addToCart?id=<%-products[i]._id%>" data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="/addToWishList?id=<%-products[i]._id%>" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href=""><%-products[i].category%></a></span>

                                        <span class="product-o__name">

                                            <a href=""><%-products[i].name%></a></span>
                                        <div class="product-o__rating gl-rating-style">
                                            <% for(let j=0;j< 5;j++){
                                                if(products[i].star>j){%>
                                            <i class="fas fa-star"></i>
                                            <%}else{%>
                                                <i class="far fa-star"></i>
                                            <%}}%>
                                            <span class="product-m__review">(<%-products[i].Rating.length%>)</span></div>

                                        <span class="product-o__price">₹<%-products[i].price%>.00</span>
                                    </div>
                                </div>
                                <%}%> 
                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->
        </div>
    <script src="js/vendor.js"></script>
    <script src="js/jquery.shopnav.js"></script>
    <script src="js/app.js"></script>


  <%- include ('../layouts/footer.ejs') %>
